<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm OTP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section class="reg-section">
        <h1>Expense Tracker</h1>

        <form action="/forget-password" method="POST" enctype="application/x-www-form-urlencoded">
            <h2>Verify OTP</h2>

            <div>
                <div>
                    <input type="num" name="num" id="num" placeholder="00000" required>
                    <br>
                </div>

            </div>

            <button type="submit" class="submitBtn">Verify OTP</button>
            <div>
                <a href="http://localhost:3000/">Resend OTP</a>
            </div>

        </form>


    </section>
</body>

</html>