<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section class="reg-section">
        <h1>DexTrack</h1>

        <section class="formSection">
            <form action="/forget-password" method="POST" enctype="application/x-www-form-urlencoded">
                <h2>Forgot Password</h2>

                <% if (errors) { %>
                    <small class="message">
                        <%= errors.email%>
                    </small>
                    <% } %>

                        <div>
                            <div>
                                <input type="email" name="email" id="email" placeholder="JohnDeo@gmail.com" required>
                                <br>
                            </div>

                        </div>

                        <button type="submit" class="submitBtn">Send OTP</button>
                        <div>
                            <a href="http://localhost:3000/">Go back to login</a>
                        </div>

            </form>

        </section>

    </section>
</body>

</html>