<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section class="reg-section">
        <h1>Expense Tracker</h1>

        <form action="/forget-password" method="POST" enctype="application/x-www-form-urlencoded">
            <h2>Enter Email account</h2>

            <div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="JohnDeo@gmail.com" required>
                    <br>
                </div>

            </div>

            <button type="submit" class="submitBtn">Send OTP</button>
            <div>
                <a href="http://localhost:3000/">Go back to login</a>
            </div>

        </form>


    </section>
</body>

</html>