<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DexTrack</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h2>DexTrack</h2>
        <ul>
            <li>Overview</li>
            <li>Why Us</li>
            <li>GitHub</li>
            <li>
                <a href="http://localhost:3000/login">
                    <button class="btn1"><strong>Login</strong></button>
                </a>
            </li>
        </ul>
    </header>

    <main>
        <div class="text">
            <h1>Expense tracking made easy</h1>
            <p>Stay on top your spending with DexTrack. An online tracking tool to help you better understand
                your habits and make measurable change.</p>
            <button class="btn2"><strong>Get Started</strong></button>
        </div>

        <img src="images/chartImage.png" alt="chartImage" class="chartImage">
    </main>
</body>

</html>