<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to DexTrack</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <section class="reg-section">
        <h1>DexTrack</h1>

        <section class="formSection">

            <form action="/loginUser" method="POST" enctype="application/x-www-form-urlencoded">
                <h2>Sign in your account</h2>

                <% if (error) { %>
                    <small class="message">
                        <%= error %>
                    </small>
                    <% } %>

                        <div>
                            <div>
                                <input type="text" name="username" id="username" placeholder="Username" required>
                                <br>
                            </div>

                            <div>
                                <input type="password" name="password" id="password" placeholder="password" required>
                                <br>
                            </div>

                        </div>

                        <button type="submit" class="submitBtn">Login</button>

            </form>
            <div class="link">
                <a href="/forgetPassword">Forgot your Password? Click here to reset it.</a>
                <hr>
                <a href="/signUp">
                    <button class="btn3"><strong>create new account</strong></button>
                </a>
            </div>
        </section>


    </section>
</body>

</html>