<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Expense tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section class="reg-section">
        <h1>Expense Tracker</h1>

        <form action="/loginUser" method="POST" enctype="application/x-www-form-urlencoded">
            <h2>Sign in your account</h2>

            <div>
                <div>
                    <label for="userName">UserName:</label>
                    <input type="text" name="username" id="username" placeholder="JohnDeo" required>
                    <br>
                </div>



                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="password" required>
                    <br>
                </div>

            </div>

            <button type="submit" class="submitBtn">Login</button>
            <div>
                <a href="http://localhost:3000/">create a new account</a>
                <a href="http://localhost:3000/">Forget password</a>
            </div>

        </form>


    </section>
</body>

</html>